.canvas {
    width : 620px;
    height : 820px;
    /*
    min-width: 620px;
    min-height: 820px;
    position: relative;
    */
    margin: 10px auto;
}

.wall {
    border: 2px solid #000; /* 검정색 테두리 */
    width: 600px;
    height: 800px;
    /* position: relative;*/
    margin: 10px auto;
    background-color: #f8f9fa;
}