*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#info{
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px;
    border: 1px solid #ccc;
}
.canvas{
    width : 580px;
    height : 500px;
    background: #ccc;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
}
.wall {
    /* 계산 시 offset이 달라져서 content-box로 적용합니다. */ 
    box-sizing: content-box; 
    border: 2px solid #000; /* 검정색 테두리 */
    width: 400px;
    height: 420px;
    /* position: relative;*/
    margin: 10px auto;
    background-color: #f8f9fa;
}
